* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
}

.blackbox {
    background-color: #343639;
    height: 250px;
    border-bottom: 29px solid #6E0053;
}
.profile {
    text-align: center;
}
.profile img {
    display: block;
    height: 250px;
    margin: -140px auto 0 auto;
}
.profile .name {
    font-family: 'Fjalla One', sans-serif; 
    text-transform: uppercase;
    color: #051936;
    font-size: 42px;
    margin: 30px 0 20px 0;
}
.profile .degree {
    font-size: 30px;
    color: #6E0053;
}
.content {
    text-align: center;
    padding: 40px 0;
}
.content .btn {
    display: inline-block;
    text-decoration: none;
    background: #F7395F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 15px 50px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
}
.footer ul {
    list-style: none;
        text-align: center;
}
.footer li {
    display: inline-block;
    margin: 0 20px;
}

.footer i {
    display: inline-block;
    background-color: #051936;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.phone {
    background-image: url("../images/phone.png");
    background-size: 58px;
    background-repeat: no-repeat;
    background-position: center;
}
.email {
    background-image: url("../images/email.png");
    background-size: 63px;
    background-repeat: no-repeat;
    background-position: center;
}
.linkedin {
    background-image: url("../images/linkedin.png");
    background-size: 55px;
    background-repeat: no-repeat;
    background-position-x: 26px;
    background-position-y: 20px;
}

